h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  all: unset; /* прибирає всі стандартні стилі */
  box-sizing: border-box; /* робить розміри передбачуваними */
  
  /* базові стилі для зручності */
  width: 100%;
  height: 100%;
  font-family: inherit; /* успадковує шрифт батьків */
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: none;
  resize: none; /* вимикає зміну розміру вручну (опційно) */
}

